:root {
   --blue: #0075ff;
   --blue-alt: #0d69d5;
   --orange: #f59e0b;
   --green: #22c55e;
   --red: #f44336;
   --grey: #888;
}
* {
   box-sizing: border-box;
}

html {
   scroll-behavior: smooth;
}

body {
   font-family: 'Open Sans', sans-serif;
   margin: 0;
}

*:focus {
   outline: none;
}

a {
   text-decoration: none;
}
ul {
   list-style: none;
   padding: 0;
}
::-webkit-scrollbar {
   width: 15px;
}
::-webkit-scrollbar-track {
   background-color: white;
}
::-webkit-scrollbar-thumb {
   background-color: var(--blue);
}
::-webkit-scrollbar-thumb:hover {
   background-color: var(--blue-alt);
}
.page {
   background-color: #f1f5f9;
   min-height: 150vh;
}
/*Start Content*/
.content {
overflow: hidden;
}
.head {
   padding: 5px;

}
.head .search::before{
   font-family: var(--fa-style-family-classic);
   content: "\f002";
   font-weight: 900;
   position: absolute;
   left: 15px;
   top: 50%;
   transform: translateY(-50%);
   font-size: 14px;
   color: var(--grey);
}
.head .search input {
   border: 1px solid #ccc;
   border-radius: 10px;
   margin-left: 10px;
   padding-left: 30px;
   width: 160px;
   transition: width 0.3s;
}
.head .search input:focus{
   width: 200px;
}
.head .search input:focus::placeholder{
   opacity: 0;
}
.head .icons .notification::before {
   content: "";
   position: absolute;
   width: 10px;
   height: 10px;
   background-color: var(--red);
   border-radius: 50%;
   right: -5px;
   top: -5px;
}

.head .icons img {
   width: 32px;
   height: 32px;
   margin-left: 15px;
}

.page h1 {
   margin:  20px 20px 40px;
}

.page h1::before,
.page h1::after{
   content: "";
   height: 3px;
   position: absolute;
   bottom: -10px;
   left: 0;
}
.page h1::before {
   background-color: white;
   width: 120px;
}
.page h1::after {
   background-color: black;
   width: 40px;
}

/*End Content*/